*{
    margin: 0;
    padding: 0;
}
.operator .number {
    width:50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    background-color: #ff0066;
    color: white;
    border: none;
    border-radius: 25px;
}

#colspan {
    width:106px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    background-color: #ff0066;
    color: white;
    border: none;
    border-radius: 25px;
}

.textview {
    width: 214px;
    height: 50px;
    margin: 5px 2px 5px 5px;
    border: 1px solid #ff0066;
    font-size: 30px;
    color: #ff0066;
    text-align: right;
    border-radius: 20px;
    

}

#calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 2px solid #ff0066;
    border-radius: 20px;
}
body{
    width: 1200px;
}
